@mixin tamanio ($ancho, $altura) {
	width: $ancho;
	height: $altura;
}

$estilos: (
	cursor: pointer,
	negrita: bold,
	cursiva: italic,
	letra: "Montserrat sans-serif"
);

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.index-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"header header"
	"nombre-pagina nombre-pagina"
	"inicio-final inicio-final"
	"portada portada"
	"datos datos"
	"inicio-final2 inicio-final2"
	"footer footer";
}

.nosotros-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"header header"
	"nombre-pagina nombre-pagina"
	"inicio-final inicio-final"
	"portada-nosotros portada-nosotros"
	"info info"
	"ya-te-enamoraste ya-te-enamoraste"
	"inicio-final2 inicio-final2"
	"footer footer";
}	

header {
	background-color: white;
	@include tamanio (100%, auto);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: map-get($estilos , negrita);
	grid-area: header;
	button {
		margin-top: 0.5vw;
		height: 3.5vw;
	}
	ul {
		list-style: none;
		li {
			display: inline-flex;
			margin: 0.2vw;
			a {
				text-decoration: none;
				color: black;
				padding: 0.3vw;
				cursor: map-get($estilos , cursor);
				&:hover {
					color: #818181;
					opacity: 0.6;
					background-color: transparent;
				}
			}
		}
	}
}


.nombre-pagina {
	@include tamanio (auto, auto);
	padding: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff009a;
	grid-area: nombre-pagina;
	h1 {
		font-weight: map-get($estilos , negrita);
		color: white;
		font-family: "Montserrat sans-serif";
	}
}

.inicio-final {
	margin: 2vw;
	grid-area: inicio-final;
	@include tamanio (auto, auto)
	display: flex;
	.boton {
		width: auto;
		&:hover {
			transform: scale(1.3);
			transition-property: all;
			transition-duration: 0.3s;
		}
		a {
			text-decoration: none;	
			color: black;
			font-size: 20px;
			cursor: map-get($estilos , cursor);
			width: auto;
			&:hover {
				color: #818181;
				opacity: 0.6;
				background-color: transparent;
			}
		}
	}
}

.inicio-final2 {
	@extend .inicio-final;
	grid-area: inicio-final2;
	.boton2 {
		width: auto;
		&:hover {
			transform: scale(1.3);
			transition-property: all;
			transition-duration: 0.3s;
		}
		a {
			text-decoration: none;	
			color: black;
			font-size: 20px;
			cursor: map-get($estilos , cursor);
			&:hover {
				color: #818181;
				opacity: 0.6;
				background-color: transparent;
			}
		}
	}
}

.portada {
	@include tamanio (100%, auto);
	grid-area: portada;
	img {
		@include tamanio (100%, 40vw);
	}
}

.portada-nosotros {
	background-image: url(../assets/perroconpelota.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	grid-area: portada-nosotros;
	.franja {
		float: right;
		margin: 1vw;
		background-color: rgba(246, 138, 218, 0.5);
		.concepto {
			@include tamanio (40vw, auto)
			overflow-wrap: break-word;
			padding: 2vw;
			.categoria {
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					color: #942A79;
				}
		}
			.texto {
				color: white;
			}
		}
	}
}

.ya-te-enamoraste {
	@include tamanio (100%, auto);
	grid-area: ya-te-enamoraste;
	container-cards {
		display: block;
		.card {
			img {
				width: 1vw;
				height: 1vw;
			}
			margin: 2vw;
			width: auto;
		}
	}
	h2 {
		font-family: map-get($estilos , letra);
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 10px;
	}
}

.datos {
	display: inline-flex;
	padding: 1vw;
	justify-content: center;
	align-items: center;
	@include tamanio (auto, auto);
	background-color: #ff009a;
	color: white;
	font-weight: map-get($estilos , negrita);
	grid-area: datos;
	.box {
		justify-content: center;
		align-items: center;
		padding: 1vw;
		font-size: 30px;
		h2 {
			margin-bottom: 2vw;
			font-family: map-get($estilos , letra);
			font-size: 30px;
		}
		.numero {
			border: solid 2px white;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 10vw;
		}
	}

}

footer {
	background-color: lightgray;
	display: block;
	font-family: map-get($estilos , letra);
	grid-area: footer;
	@include tamanio (auto, auto);
	h3 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
	.redesociales {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		i {
			padding: 10px;
			font-size: 20px;
		}
	}
	.frase {
		@extend .redesociales;
		padding: 10px;

	}
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	display: inline-flex;
	@include tamanio (auto, auto);
	justify-content: space-around;
	align-items: center;
	margin-top: 2vw;
	margin-bottom: 4vw;
	grid-area: info;
	.subtitulo {
		justify-content: space-between;
		align-items: center;
		height: 20vw;
		h2 {
			padding: 2px;
			height: auto;
		}
		p {
			padding: 5px;
			height: auto;
		}
	}
}

.info-preguntas {
	@include tamanio (100%, auto);
	color: black;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	.subtitulo2 {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid black;
		@include tamanio (auto, 8vw);
		padding: 1vw;
		margin-left: 1vw;
		margin-top: 1vw;
		margin-right: 1vw;
		background-color: #ff009a;
		color: white;	
		h2 {
			height: auto;
			font-size: 20px;
		}
		a {
			text-decoration: none;
			color: white;
		}
	}
}

.convencido {
	margin-top: 2vw;
	color: grey;
	font-weight: map-get($estilos , negrita);
	margin: 1vw;
	font-style: map-get($estilos , cursiva);
	height: auto;
}

.fondoPantalla {
	background: url(https://membre.empruntemontoutou.com/img/login.e4e00af2.jpg) 0 0 no-repeat;
	padding-bottom: 0.1vw;
}

form {
	margin-left: 2vw ;
	input {
		margin-top: 1vw;
    	margin-bottom: 1vw;
    	display: block;
	}
	select, textarea {
		display: block;
    	margin-top: 8px;
    	margin-bottom: 15px;
	}
	.elegir {
		display: inline-block;
	}
}

.info-oportunidad {
	background-color: #FADBF2;
	display: inline-flex;
	@include tamanio (100%, 32vw);
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	.subtitulo {
		@include tamanio (50%, 100%)
		border: 1px black solid;
		.bloqueOpor {
			display: flex;
			justify-content: center;
			align-items: center;
			.nameSub {
				margin-right: 2vw;
				margin-top: 1vw;
				display: flex;
			}
			.buttonOpor {
				a {
					text-decoration: none;
					color: #ff009a
				}
			}
		}
		.preguntasOpor {
			width: 75%;
			margin-left: 6vw;
		}

	}

}

.video {
	background-color: #1E1C1D;
	margin-bottom: 2vw;
	iframe {
		margin-top: 1vw;
		margin-bottom: 1vw;
	}
}

.respuestas {
	margin: 2vw;
	div {
		margin-bottom: 3vw;
	}
	h2 {
		padding-bottom: 1vw;
		font-size: 2vw;
	}
}

@media(max-width:576px) {
	body {
		@include tamanio (auto, auto);
	}

	header {
		width: auto;
	}

	.index-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"nombre-pagina"
		"inicio-final"
		"portada"
		"datos"
		"inicio-final2"
		"footer";
	}	

	.nosotros-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"nombre-pagina"
		"inicio-final"
		"portada-nosotrs"
		"info"
		"inicio-final2"
		"footer";
	}	

	.portada img {
		height: 70vw;
	}
	
	.datos h2{
		font-size: 20px;
	}

	.nosotros-content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"nombre-pagina"
		"inicio-final"
		"portada-nosotros"
		"info"
		"ya-te-enamoraste"
		"inicio-final2"
		"footer";
	}	

	.info {
		padding-left: 5vw;
		padding-bottom: 25vw;
	}

	.info-preguntas {
		.subtitulo2{
			padding: 0;
			h2 {
				font-size: 8px;
			}
		}
	}

	.portada-nosotros {
		.franja {
			float: left;
		}
	}
}